{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="auth-container">
    <div class="auth-right mx-auto"> 
        <div class="form-box login-box">
            <h1 class="logo-font text-center">Pirostagram</h1>
            <p class="text-center text-muted fw-bold mt-3">다른 사람들의 사진과 동영상을 보려면 가입하세요.</p>

            <form method="post" class="mt-3">
                {% csrf_token %}
                {{ form.as_p }}
                <p class="text-center text-muted small my-3">
                    가입하면 Instagram의 약관, 데이터 정책 및 쿠키 정책에 동의하게 됩니다.
                </p>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">가입</button>
                </div>
            </form>
        </div>
        <div class="form-box signup-link-box">
            <p>계정이 있으신가요? <a href="{% url 'login' %}">로그인</a></p>
        </div>
    </div>
</div>
{% endblock %}